body {
    background-color: cornflowerblue;
    color:snow;
    font-family: "Jersey 25", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-size: larger;
}

button{
    background-color: darkslateblue;
    color: azure;
    font-family: "Jersey 25", sans-serif"
}

.passo{
    display: none;
}

.passo.ativo {
    display: block;
}
